name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2

      - name: Install dependencies
        run: |
          npm install -g typescript
          npm install

      - name: Test to see if the project compiles
        run: npm run build:check

      - name: Check code formatting with ESLint
        run: npm run lint:check
